.carousel__container {
  position: relative;
}

.living__room {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.carousel__container .more__btn {
  position: absolute;
  color: #ccc;
  cursor: pointer;
  background-color: #2f3e59;
  border: 1px solid grey;
  right: 50%;
  bottom: 50%;
}

.carousel__container .more__btn:hover {
  background-color: #2f3e59;
}

.carousel__container .title {
  position: absolute;
  color: #000;
  bottom: 65%;
  right: 400px;
  font-weight: 800;
  text-align: center;
}

.title > h1 {
  font-size: 80px;
}
