.navbar__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted grey;
}

.navbar__left span {
  text-decoration: none;
  text-align: center;
}

.navbar__left {
  display: flex;
  align-items: center;
}

span .MuiSvgIcon-root {
  padding-right: 10px;
}

.navbar__left span {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 20px;
}

.navbar__right {
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar__right .MuiSvgIcon-root {
  margin: 10px;
}

.navbar__right .MuiSvgIcon-root:hover {
  color: #3f51b5;
  border-bottom: 2px solid #3f51b5;
  cursor: pointer;
}

.navbar__left .MuiSvgIcon-root {
  align-items: center;
}

.navbar__container span:hover {
  color: #3f51b5;
  border-bottom: 2px solid #3f51b5;
  cursor: pointer;
}

.navbar__left img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}
